<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("button").click(function(){
                $.ajax({
                    url: '/result',
                    data: {color: $(this).attr("ninja")},
                    type: 'POST',
                    success: function(response) {
                        $("img").attr("src", response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            })
        })
    </script>
</head>
<body>
    <img src="">
    <button ninja="red">Red</button>
    <button ninja="blue">Blue</button>
    <button ninja="orange">Orange</button>
    <button ninja="purple">Purple</button>
</body>
</html>