<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Ninja</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".color").click(function(){
                $.ajax({
                    url: '/request',
                    data: {color: $(this).attr("ninja")},
                    type: 'POST',
                    success: function(response) {
                        $("img").attr("src", response.source);
                        $("h1").text(response.name)
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            })
            $(".custom").click(function(){
                $.ajax({
                    url: '/request',
                    data: {color: $("input").val()},
                    type: 'POST',
                    success: function(response) {
                        $("img").attr("src", response.source);
                        $("h1").text(response.name)
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            })
        })
    </script>
</head>
<body>
    <h1></h1>
    <img src="">
    <br>
    <button class="color" ninja="red">Red</button>
    <button class="color" ninja="blue">Blue</button>
    <button class="color" ninja="orange">Orange</button>
    <button class="color" ninja="purple">Purple</button>
    <div>
        <p>Or choose a custom color:</p>
        <input type="text" name="custom">
        <button class="custom">Enter</button>
    </div>
</body>
</html>